@font-face {
    font-family: 'HitAndRun';
    src: url('https://cdn.jsdelivr.net/gh/rmunhos-santillana/fontes/HitandRun-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
